@{
  Layout = "_Layout";
}

@using Factory.Models

<h1 class="title">The Fancy Factory</h1>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Fancy Engineers</h3>
      @if (@ViewBag.EmployeeDirectory.Count == 0)
      {
        <h4>we have not hired any fancy Engineers members yet</h4>
      }
      @foreach(Engineer engineer in @ViewBag.EmployeeDirectory)
      {
        <li>@engineer.Name</li>
      }
    </div>
    </div>
    <div class="container">
    <div class="col-md-6">
    
      <h3>Fancy Machines</h3>
      @if (@ViewBag.MachineInventory.Count == 0)
      {
        <h4>we have no functioning machines currently -not very fancy</h4>
      }
      @foreach(Machine machine in @ViewBag.MachineInventory)
      {
        <li>@machine.MachineName</li>
      }
    </div>
  </div>
</div>

<ul class="menu-links">
  <li>@Html.ActionLink("see employee directory", "Index", "Engineers")</li>
  <li>@Html.ActionLink("see machine inventory", "Index", "Machines")</li>
</ul>